$mainBoxWidth: 460px;

.root {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  width: $mainBoxWidth;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
}

.highlited {
  background-color: rgba(255, 255, 255, 0.50);
  border-radius: 4px;
  padding: 15px;
}
